.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  border-bottom: 1px solid #e6e6e6;
}
.header--logo {
  object-fit: contain;
  height: 60px;
}

.header--icon {
  padding: 10px;
}
